* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}

#main {
    background: #d9ccba;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}
.actions {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}


.actions svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
    margin: 0 10px;
}

.actions svg.active{
    transform: scale(1.4);
}
.colors {
    position: fixed;
    top: 80px;
    left: 30px;
}
.colors>li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin: 10px 0;
    transition: all 0.3s;
}
.colors>li.black {
    background-color: #333333;
}
.colors>li.green {
    background-color: #fdcf46;
}
.colors>li.blue {
    background-color: #fc4e42;
    
}
.colors>li.yellow {
    background-color: #1173b9;
}
.colors>li.active {
    box-shadow: 0 0 5px rgba(0,0,0,8);
    transform: scale(1.2);
}
